@{
    ViewBag.Title = "Verify Email";
}

<h2>@ViewBag.Title</h2>
<div>
    <p>A confirmation mail has been sent to your email address. Please check it out in order to login.</p>
    <p>Please @Html.ActionLink("Click here to Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</p>
</div>
